/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
} */
 .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #4d6370;
 }
.container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 28%;
}
.left-bar{
    width: 25%;
    background-color: #65aff9;
    padding: 20px;
    border-radius: 5px;
}
.profile{
    
}
.middle{
    width: 25%;
    background-color: #1466b7;
    padding: 20px;
    border-radius: 5px
}
.right-bar{
    width: 25%;
    background-color: #013c77;
    padding: 20px;
    border-radius: 5px
}
.footer{

}
#f{
    background-color:#435760 ;
}
#powered{
    background-color:#303f46 ;
}